.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-image {
    flex: 1;
  }
  
  .login-form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-card {
    width: 300px;
  }
  